twig_sandbox:
    allowed_tags:
        - 'block'
        - 'extends'
        - 'for'
        - 'if'
        - 'set'
        - 'spaceless'
        - 'verbatim'
        - 'with'
        - 'form_theme'
        - 'stopwatch'
        - 'trans'
        - 'trans_default_domain'
    allowed_filters:
        - 'abs'
        - 'batch'
        - 'capitalize'
        - 'date'
        - 'escape'
        - 'default'
        - 'doctrine_format_sql'
        - 'doctrine_prettify_sql'
        - 'doctrine_pretty_query'
        - 'doctrine_replace_query_parameters'
        - 'first'
        - 'format'
        - 'abbr_class'
        - 'abbr_method'
        - 'file_link'
        - 'file_relative'
        - 'format_args'
        - 'format_args_as_text'
        - 'humanize'
        - 'json_encode'
        - 'keys'
        - 'last'
        - 'length'
        - 'lower'
        - 'merge'
        - 'replace'
        - 'round'
        - 'split'
        - 'striptags'
        - 'title'
        - 'trim'
        - 'no_image_product'
        - 'date_format'
        - 'price'
        - 'ellipsis'
        - 'time_ago'
        - 'upper'
        - 'date_modify'
        - 'escape'
        - 'nl2br'
        - 'number_format'
        - 'slice'
        - 'split'
        - 'striptags'
    allowed_functions:
        - 'cycle'
        - 'max'
        - 'min'
        - 'random'
        - 'range'
        - 'template_from_string'
        - 'absolute_url'
        - 'asset'
        - 'asset_version'
        - 'csrf_token'
        - 'form_parent'
        - 'fragment_uri'
        - 'impersonation_exit_path'
        - 'impersonation_exit_url'
        - 'is_granted'
        - 'logout_path'
        - 'logout_url'
        - 'path'
        - 'relative_path'
        - 't'
        - 'url'
        - 'calc_inc_tax'
        - 'active_menus'
        - 'csrf_token_for_anchor'
        - 'url'
        - 'path'
        - 'is_object'
        - 'get_product'
        - 'date'
    allowed_methods: []
    allowed_properties: []